<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Insta485</title>
  </head>
  <body>
    <h1>Followers</h1>
    {% for follower in all_followers%}
      {%set follower_img_url = '/uploads/' + follower[0] + '/'%}
      <img class = "follower-user-img" src="{{follower_img_url}}" alt="profile picture">

      {% set profile_link = '/u/' + follower[1] + '/'%}
      <a href = "{{profile_link}}">{{follower[1]}}</a>

      {%if follower[2]%}
      following
      <form action="/u/{{user_url_slug}}/followers/" method="post" enctype="multipart/form-data">
          <input type="submit" name="unfollow" value="unfollow"/>
          <input type="hidden" name="username" value="{{follower[1]}}"/>
      </form>
      {%elif follower[1] == login_user%}
      {%else%}
      not following
      <form action="/u/{{user_url_slug}}/followers/" method="post" enctype="multipart/form-data">
          <input type="submit" name="follow" value="follow"/>
          <input type="hidden" name="username" value="{follower[1]}}"/>
      </form>
      {%endif%}
    {%endfor%}
  </body>
</html>
