<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>insta485</title>
  </head>
  <body>
    <a href="/">Insta485</a>
    <a href="{{url_for('show_explore')}}">Explore</a>
    {% set profile_link = "/u/" + logname + "/" %}
    <a href="{{profile_link}}">My Profile</a>
      <!-- DO NOT CHANGE THIS (aside from styling) -->
    {% set current_url = "/accounts/login/" %}
    <form action="{{current_url}}" method="post" enctype="multipart/form-data">
      <input type="text" name="username"/>
      <input type="password" name="password"/>
      <input type="submit" value="login"/>
    </form>
    <p>
      Don't have an account? <a href="/accounts/create">Sign up</a>
    </p>
  </body>
</html>
